/* src/components/navbar.css */
.navbar {
    background-color: #005699;
    color: white;
    padding: 10px 0;
  }
  
.navbar ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
justify-content: center;
}

.navbar ul li {
margin: 0 10px;
}

.navbar ul li a {
color: white;
text-decoration: none;
padding: 10px 20px;
display: block;
}

.navbar ul li a:hover {
background-color: #0056b3;
}  