/* src/components/home/Navbar.css */
.navbar {
  background-color: #005699;
  color: white;
  padding: 10px 20px;
  height: 65px; /* Altura fixa para a navbar */
}

.navbar-brand img {
  height: 45px;
  width: 45px; /* Espaço do canto esquerdo */
  margin-left: 15px;
  margin-bottom: 10px;
}