/* src/styles/style.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#root, .App {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

input:focus, button:focus {
  outline: none;
}

.tooltip-inner {
  border: none !important;
}