.home-container {
  height: 10px;
  background-color: #F9FAFC;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Ensure no padding */
  margin: 0; /* Ensure no margin */
}

.home-boas-vindas {
  width: 80%;
  max-width: 150px; /* Adjust as necessary */
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
