.home-boas-vindas {
  width: 80%;
  max-width: 100px; /* Ajuste conforme necessário */
}

.content-section {
  margin-left: 40px; /* Aumenta o espaçamento entre a imagem e o texto */
}

h1 {
  font-size: 30px; 
}

h2 {
  font-size: 20px; /* Diminuir tamanho da fonte dos subtítulos */
  margin-bottom: 15px;
}

p {
  font-size: 15px; /* Diminuir tamanho da fonte do texto */
  margin-bottom: 35px;
}
