/* src/components/acontecimento/cadastroAcontecimento.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F1F1F1;
}

.navbar {
  background-color: #005699;
  color: white;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.navbar ul li a:hover {
  background-color: #0056b3;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.titulo {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.section {
  margin-bottom: 20px;
  border: 1px solid #999999;
  padding: 20px;
}

.section h2 {
  color: #555555;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
  margin-bottom: 15px;
}

.form-group.full-width {
  flex-basis: 100%;
}

.form-group label {
  margin-bottom: 5px;
  color: #696262;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 0.20px solid black;
  border-radius: 5px;
  background: white;
}

.form-group textarea {
  height: 80px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.form-actions button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17.12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.form-actions button:hover {
  background-color: #0056b3;
}

.form-actions .btn-cancel {
  background-color: #BAB4B4;
}