:root {
  --body-color: #F9FAFC; /* Cor de fundo atualizada */
  --sidebar-color: #FFF;
  --primary-color: #BBD8F0;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --icon-color: #95BFE1;
  --text-color: #696262;
  --special-text-color: #252525;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

.container {
  margin-top: 20px;
}

.table {
  margin-top: 20px;
}

.pagination {
  margin-top: 20px;
}

.bd {
  background-color: #FFF; /* Ajuste a cor de fundo do container de conteúdo se necessário */
  margin: 0 auto; /* Centraliza horizontalmente */
  width: 80%; /* Ajuste conforme necessário */
}

h3 {
  margin-bottom: 20px;
  font-size: 24px; /* Diminuir o tamanho da fonte */
}

hr {
  margin-top: 30px;
  border: 1px solid #c0c0c0; /* Linha de divisão */
  margin-bottom: 30px;
}

.input-group .input-group-append .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.input-group .form-control {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.input-group .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.mt-4 .btn-secondary {
  background-color: #BAB4B4;
  border-color: #BAB4B4;
}

.mt-4 .btn-primary {
  background-color: #2987C0;
  border-color: #2987C0;
}


