.container {
  margin-top: 20px;
}

.table {
  margin-top: 20px;
}

.pagination {
  margin-top: 20px;
}

.bd {
  background-color: #FFF; /* Ajuste a cor de fundo do container de conteúdo se necessário */
  margin: 0 auto; /* Centraliza horizontalmente */
  width: 80%; /* Ajuste conforme necessário */
}

h3 {
  margin-bottom: 20px;
  font-size: 24px; /* Diminuir o tamanho da fonte */
}

hr {
  margin-top: 30px;
  border: 1px solid #c0c0c0; /* Linha de divisão */
  margin-bottom: 30px;
}

.input-group .input-group-append .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.input-group .form-control {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.input-group .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.mt-4 .btn-secondary {
  background-color: #BAB4B4;
  border-color: #BAB4B4;
}

.mt-4 .btn-primary {
  background-color: #2987C0;
  border-color: #2987C0;
}

.container {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  text-align: center;
}

.col-infoCobrade {
  width: 15%;
}

.col-numeroProtocolo {
  width: 15%;
}

.col-dataHora {
  width: 15%;
}

.col-cidadaoResponsavel {
  width: 10%;
}

.col-cpf {
  width: 10%;
}

.col-endereco {
  width: 20%;
}

.col-acao {
  width: 15%;
}

.acao-button {
  background-color: #2987C0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.acao-button span {
  margin-left: 5px;
  font-size: 1.2em;
}

.dropdown-item {
  padding: 10px 20px;
  text-align: center;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-menu {
  min-width: 8rem;
}
