:root {
  --body-color: #F9FAFC; /* Cor de fundo atualizada */
  --sidebar-color: #FFF;
  --primary-color: #BBD8F0;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --icon-color: #95BFE1;
  --text-color: #696262;
  --special-text-color: #252525;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

.container {
  margin-top: 20px;
}

.table {
  margin-top: 20px;
}

.pagination {
  margin-top: 20px;
}

.bd {
  background-color: #FFF; /* Ajuste a cor de fundo do container de conteúdo se necessário */
  margin: 0 auto; /* Centraliza horizontalmente */
  width: 80%; /* Ajuste conforme necessário */
}

h3 {
  margin-bottom: 20px;
  font-size: 16px; /* Diminuir o tamanho da fonte */
}

hr {
  margin-top: 30px;
  border: 1px solid #c0c0c0; /* Linha de divisão */
  margin-bottom: 30px;
}

.input-group .input-group-append .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.input-group .form-control {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.input-group .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.mt-4 .btn-secondary {
  background-color: #BAB4B4;
  border-color: #BAB4B4;
}

.mt-4 .btn-primary {
  background-color: #2987C0;
  border-color: #2987C0;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  border: none;
}

.acontecimento, .atendimento {
  width: 45%;
}

.acontecimento h5, .atendimento h5 {
  margin-bottom: 15px;
  font-size: 1.2em;
}

.acontecimento p, .atendimento p {
  font-size: 1em;
  margin-bottom: 10px;
}

.acontecimento p strong, .atendimento p strong {
  display: block;
  margin-bottom: 5px;
}

.no-border {
  border: none !important;
  box-shadow: none !important;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.text {
  margin-left: 10px;
  font-weight: bold; /* Deixa o texto em negrito */
}

.acontecimento p, .atendimento p {
  margin-bottom: 5px;
  font-size: 16px; /* Definir fonte para 16px */
}

.acontecimento p:nth-of-type(odd), .atendimento p:nth-of-type(odd) {
  font-weight: bold;
}

.acontecimento p:nth-of-type(even), .atendimento p:nth-of-type(even) {
  margin-left: 15px; /* Ajuste a margem esquerda para alinhar abaixo do título */
}

div.tooltip .tooltip-inner {
  border: none !important;
}