:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #BBD8F0; 
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --icon-color: #95BFE1;
    --text-color: #696262;
    --special-text-color: #252525;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: #BBD8F0;
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar.close {
    width: 88px;
}

.sidebar li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    
}

.sidebar .icon {
    border-radius: 5px;
    height: 25px; /* Tamanho icone */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: var(--icon-color);
}

.sidebar .text {
    color: var(--text-color);
    transition: var(--tran-03);
    font-size: 16px;
    font-weight: 450;
    margin-left: 20px;
}

.sidebar .special-text {
    color: var(--special-text-color);
}

.sidebar .nav-link:hover .special-text,
.sidebar .nav-link.active .special-text {
    color: white;
    
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    color: var(--text-color);
    width: 100%;
    justify-content: flex-start;
    padding: 10px 40px; /* Espaçamento da seleção */
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #BBD8F0; 
    color: white;
    border-radius: 5px;
}

.sidebar .nav-link.active .icon,
.sidebar .nav-link.active .text {
    color: white;
    
}

.sidebar .ml-3 .nav-link {
    color: var(--text-color); 
}

.menu-bar {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.home {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.sidebar.close ~ .home {
    left: 88px;
    width: calc(100% - 88px);
}
