/* src/components/menu-lateral/sidebar.css */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #005699;
  color: white;
  transition: width 0.3s;
}

.sidebar.closed {
  width: 60px;
}

.sidebar .toggle-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 10px;
}

.sidebar .flex-column {
  margin-top: 20px;
}

.sidebar .nav-link {
  color: white;
  display: flex;
  align-items: center;
}

.sidebar .nav-link.active {
  background-color: #004080;
}

.sidebar .nav-link span {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 1rem;
}
