:root {
  --body-color: #F9FAFC;
  --sidebar-color: #FFF;
  --primary-color: #BBD8F0;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --icon-color: #95BFE1;
  --text-color: #696262;
  --special-text-color: #252525;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
}

.container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--sidebar-color);
  max-width: 1200px;
  width: 95%;
  margin: 20px auto;
}

h3, h5 {
  color: var(--special-text-color);
}

hr {
  border-top: 1px solid var(--primary-color);
}

.btn-primary, .btn-secondary {
  border: none;
  transition: var(--tran-03);
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-primary:hover {
  background-color: var(--primary-color-light);
}

.btn-secondary {
  background-color: var(--toggle-color);
  color: var(--icon-color);
}

.btn-secondary:hover {
  background-color: var(--icon-color);
  color: white;
}

.table {
  background-color: white;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid var(--primary-color);
}

.pagination {
  justify-content: center;
  padding-top: 10px;
}

.modal-content {
  background-color: var(--primary-color-light);
  border-radius: 8px;
  border: 2px solid var(--primary-color);
}

.modal-header, .modal-footer {
  border-bottom: none;
  border-top: none;
}

.modal-body {
  padding: 20px;
}

.dropdown-menu {
  border-radius: 0;
  border-color: var(--primary-color);
}

.modal-content.no-border {
  border: none;
  padding: 20px;
}

.section {
  border-bottom: 1px solid var(--primary-color-light);
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.section:not(:last-child) {
  border-right: 1px solid var(--primary-color-light);
}

.section-content {
  padding: 10px;
}

.section-title {
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--special-text-color);
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.dot-red { background-color: #ff6347; }
.dot-blue { background-color: #6495ed; }
.dot-green { background-color: #8fbc8f; }
.dot-yellow { background-color: #ffd700; }
.dot-purple { background-color: #da70d6; }

@media (max-width: 768px) {
  .section:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid var(--primary-color-light);
  }

  .container, .form-control, .btn, .dropdown-menu {
    width: 100%;
  }

  .form-row, .modal-body {
    flex-direction: column;
  }
}
