.leftSide {
  background: linear-gradient(0deg, #1B7CB3 0%, #3797D5 55.25%, #4BA1DF 100%, #1B7CB3 100%);
  color: white;
  height: 100%;
}

.right-side {
  background-color: #ffffff;
  height: 100%;
}

.logo {
  width: 70%;
  margin-bottom: 15px;
}

.logo-text {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.logo-subtext {
  font-size: 1rem;
  margin: 0;
}

h2, p {
  font-size: 16px;
  margin-bottom: 40px;
}

.login-form {
  width: 100%;
}

.login-form h2 {
  margin-bottom: 10px;
}

.login-form p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #555;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #005699;
  text-decoration: none;
}

.customButton {
  background: linear-gradient(0deg, #1B7CB3 0%, #3797D5 55.25%, #4BA1DF 100%, #1B7CB3 100%);
  border: none;
  color: white;
  width: 397px;
  height: 50px;
  border-radius: 5px;
}

