.bd {
    background-color: #fff;
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.acao-button .dropdown-menu {
    text-align: center; 
}

.modal-content {
    border-radius: 5px; 
}

.modal-header, .modal-footer {
    border-bottom: none; 
    border-top: none; 
}

.modal-body {
    padding: 20px; 
}

.form-control {
    border-radius: 4px; 
    border: 1px solid #ccc;
}

.button {
    background-color: #2987C0;
    border-color: #2987C0; 
    color: white; 
}

.button:hover {
    background-color: #2176A9; 
    border-color: #1E6A93; 
}

.table {
    margin-top: 20px; 
    border-collapse: collapse; 
}

.table th, .table td {
    padding: 8px;
    border: 1px solid #ddd; 
}

.pagination {
    margin-top: 10px; 
    justify-content: center; 
}